

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello, world!</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <script src="/public-scripts/main-menu.js"></script>
  <link rel="icon" href="favicon.png">
</head>
<body>
  <h1>Welcome to the lobby</h1>
    <form action="/action" method="post">
        <button name="foo" value="upvote">action</button>
    </form>
    <div id="lobbies">

    </div>

    <button onclick="refreshLobby()">Refresh</button>
    <br>

    Hey there, welcome <a href=\'/logout'>click to logout</a>

  
</body>
</html>
