

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello, world!</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <script src="/public-scripts/table.js"></script>
  <link rel="icon" href="favicon.png">
</head>
<body>
    <h1>You are now sitting at a table!</h1>
    <div id='board' class="board">

    </div>
    <button type="button" name="button" onclick="getCurrentTableState()">Get Table State</button>
    <button type="button" name="button" onclick="startRound()">Start Round</button>
    <button type="button" name="button" onclick="check()">check</button>
    <button type="button" name="button" onclick="fold()">Fold</button>


</body>
</html>
